{% extends 'bootstrap/base.html' %}

{% block styles -%}
{{super()}}
<link href="{{ url_for('static', filename='css/trilog.css') }}" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock styles %}

{% block head %}
{{super()}}
<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
<link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker({ 
            format: 'YYYY-MM-DD',
          });
    });
  </script>
{% endblock %}

{% block title %}
   {% if title %}
   {{ title }} - My Tri Log
   {% else %}
   Welcome to My Tri Log
   {% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="{{url_for('main.index')}}">My Tri Log </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('main.index')}}">Home</a></li> 
                    <li><a href="{{url_for('main.about')}}">About</a> </li> 
                    {% if current_user.is_anonymous %}
                    <li><a href="{{url_for('auth.login')}}">Login</a> 
                    {% else %}
                    <li><a href="{{url_for('main.user',username=current_user.username)}}">Profile</a> </li>
                    <li><a href="{{url_for('main.explore')}}">Explore</a> </li>
                    <li><a href="{{url_for('main.stats')}}">Stats</a> </li>
                    <li><a href="{{url_for('main.edit')}}">Edit</a> </li>
                    <li><a href="{{url_for('main.ytd')}}">YTD</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('auth.logout')}}">Log O U T</a> </li>
                </ul>
                    {% endif %}
                </ul>

	</div>
	</div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{%- block footer %}
<footer> 
  <div class="footer-gray">
    <div class="footer-custom">
      <ul class="ftr-links">
        {% if current_user.is_anonymous %}
        <li>Hello!</li> ::
        {% else %}
	<li><strong>your last login</strong>:
	{{moment(current_user.last_seen).format('LLLL')}}</li> ::
        {% endif %}
        <li><a href="https://www.goofydogears.net">GDE Home</a></li> ::
        <li><a href="https://github.com/jeffknerr/mytrilog">GitHub</a></li> ::
        <li>&copy; Jeff! :) </li>
      </ul>
    </div>
  </div>
</footer>
{%- endblock footer %}
{% endblock %}
